.our-team {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  position: relative;
}

.our-team .span-nav-indicator {
  background-color: #ffffff;
  height: 1px;
  position: relative;
  width: 32px;
}

.our-team .our-team-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 0.84px 0px 0px;
  position: relative;
}

.our-team .div {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
